.work-wrapper {
  /* width: 100%;
  box-sizing: border-box; */
}

.work-image-container img {
  display: block;
  width: 100%;
}

.work-image-container, .work-details-container {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.work-details-container {
  padding-left: 25px;
  font-weight: 200;
}

.work-details-container h2 {
  font-weight: 200;
}

.work-details-container .description-content {
  line-height: 1.4rem
}

.work-details-container .status-content {
  margin-top: 50px;
}

.tech-icons-container {
  padding-top: 75px;
}

.tech-icons-container .icon-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tech-icons-container .icon-list .icon-list-item {
  /* float: left;
  padding-right: 25px; */
}

/* .tech-icons-container .icon {
  float: left;
} */

i {
  font-size: 3rem;
}
